  <h2>Your dashboard.</h2>

<section class="flex-center feed">

  <section class="left-bar">
    <div class="user-info-fake card">
      <h2>Connected Services:</h2>

		{{#if currentUser.tokens}}
		<ul>
			<li>
			{{#if currentUser.tokens.spotifyToken}}
				<h4>Spotify</h4>
      {{else}}
        <h4>Link your <a href="/auth/spotify">Spotify</a></h4>
			{{/if}}
			</li>

			<li>
			{{#if currentUser.tokens.deezerToken}}
				<h4>Deezer</h4>
      {{else}}
        <h4>Link your <a href="/auth/deezer">Deezer</a></h4>
			{{/if}}
			</li>

			<li>
			{{#if currentUser.tokens.spotifyToken}}
				<h4>Last.fm</h4>
      {{else}}
        <h4>Link your <a href="/auth/lastfm">Last.fm</a></h4>
			{{/if}}
			</li>
		</ul>
		{{else}}
			<h4>No service connected yet.</h4>
		{{/if}}
    </div>


    <div class="matches card">
      <h2>Matches of the day</h2>

      <div class="match-list">

        {{#each match}}
          <div class="one-match">
            You matched with  <a href="/profile/{{this.userId._id}}"><b>{{this.userId.userName}}</b></a>, on the song {{this.spotify.[0].name}} by {{this.spotify.[0].artist}}</p>

          </div>
        {{/each}}
      </div>
    </div>
  </section>



</section>