  <h2>Your dashboard</h2>

<section class="wrapper-feed">

  <section class="left-bar">
    <div class="user-info">
      <h5>{{currentUser.userName}}</h5>
      <p>Services
        {{#if spotifyToken}}
          <p>Spotify</p>
          {{else}}
          <a href="/account/services">Connect with Spotify</a>
        {{/if}}

        {{#if deezerToken}}
          <p>Deezer</p> 
               {{else}}
          <a href="/account/services">Connect with Deezer</a>
        {{/if}}

        {{#if lastfmToken}}
          <p>LastFM</p> 
               {{else}}
          <a href="/account/services">Connect with LastFM</a>
        {{/if}}
      </p>
    </div>


    <div class="matches">
      <h5>Matches of the day</h5>
      {{#each match}}
    
        You matched with  <a href="/profile/{{this.userId._id}}"><b>{{this.userId.userName}}</b></a>, on the song {{this.spotify.[0].name}} by {{this.spotify.[0].artist}}</p>
      {{/each}}
    </div>
  </section>



  <section class="right-bar-wrapper">
    <div class="concerts">
      <h5>Concerts</h5>

    </div>

    <div class="listened-track">
      <h5>Most listened track</h5>


    </div>
  </section>
</section>